<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Cerca de productes</h1>
{% if not products %}
    <form method="post">
        <input type="text" name="nom" placeholder="Nom..."/><br>
        <input type="text" name="marca" placeholder="Marca..."/><br>
        <input type="number" name="max_price" step="0.01" min="0.0" placeholder="Preu màxim..."/><br>
        <input type="number" name="min_price" step="0.01" min="0.0" placeholder="Preu minim..."/><br>
        <input type="submit" value="Cerca">
    </form>
{% else %}
    <a>{{ products }}</a>
{% endif %}

</body>
</html>