<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/-c9bKgaRfC3Q/AAAAAAAAAAI/AAAAAAAAJUE/Eo2MLCqyiZs/s0-c-k-no-ns/photo.jpg">
    <title>Amazdonde | Registro de Producto</title>
</head>
<body>
    <h1>Registre realitzat satisfactoriament</h1>
    <br>
    <table cellpadding="5px">
        <tr>
            <th><b>NOMBRE</b></th>
            <th><b>MARCA</b></th>
            <th><b>MODELO</b></th>
            <th><b>PRECIO</b></th>
            <th><b>PESO</b></th>
        </tr>
        <tr>
            <td>{{ product.nom }}</td>
            <td>{{ product.marca }}</td>
            <td>{{ product.model }}</td>
            <td>{{ product.preu }}</td>
            <td>{{ product.peso }}</td>
        </tr>
    </table>
    <br>
    <a href="./registrarProducto">Volver</a>
</body>
</html>